/SugarTableSplit/bin
/SugarTableSplit/obj
/SugarTableSplit.IServices/bin
/SugarTableSplit.IServices/obj
/SugarTableSplit.Model/bin
/SugarTableSplit.Model/obj
/SugarTableSplit.Services/bin
/SugarTableSplit.Services/obj
/SugarTableSplit.Utils/bin
/SugarTableSplit.Utils/obj
/.vs
